<div class="container2">
    <div class="lista_canciones">
        <h3>Listado de canciones</h3>
        <div class="busqueda">
            Selecciona Grupo: <input type="text" name="filtroGrupo" class="busqueda_lista" placeholder="Search ...." [(ngModel)]="filtroGrupo">
        </div>
        <div>
            <ul class="canciones">
                <li *ngFor="let cancion of canciones | filtro:filtroGrupo" [class.selected]="cancion === cancionSeleccionada" (click)="onSelectCancion(cancion)">
                    <div class="container">
                        <div class="imagen_lista"><img src={{cancion.imagen}} alt=""></div>
                        <div class="titulo_lista"><span>{{cancion.titulo}}</span></div>
                        <div class="autor_lista"><span class="cancion">{{cancion.autor}}</span></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="detalle_cancion">
        <app-cancion [cancion]="cancionSeleccionada"></app-cancion>
    </div>
</div>
<div>
    <app-reproductor [cancion]="cancionSeleccionada"></app-reproductor>
</div>
