<div class="footer">
    <div>
        <button mat-raised-button color="primary" onclick="document.getElementById('player').play()">
        <i class="fas fa-play-circle"></i> Play</button>
    </div>
    <div>
        <button mat-raised-button color="accent" onclick="document.getElementById('player').pause()">
        <i class="fas fa-pause-circle"></i> Pause</button>
    </div>
    <div>
        <button mat-raised-button color="warn" onclick="document.getElementById('player').load()">
        <i class="fas fa-stop-circle"></i> Stop</button>
    </div>
    <div class="tiempo">
        <strong><span>Tiempo Restante</span></strong>
    </div>
    <div class="tiempo_cancion">
        <span>0:00</span>
    </div>
    <div class="tiempo">
        <strong><span>Tiempo Total</span></strong>
    </div>
    <div class="tiempo_cancion">
        <span>{{tiempototal()}}</span>
    </div>
    <div class="reproductor" *ngIf="cancion">
        <audio id="player" controls src={{cancion.url}} type="audio/mp3">
        Your browser does not support the <code>audio</code> element.
        </audio>
    </div>
</div>