<div class="footer">
    <div>
        <button><i class="fas fa-play-circle"></i> Play</button>
    </div>
    <div>
        <button><i class="fas fa-pause-circle"></i> Pause</button>
    </div>
    <div>
        <button><i class="fas fa-stop-circle"></i> Stop</button>
    </div>
    <div class="bar">
        <div class="progressbar">
        </div>
    </div>
    <div class="tiempo">
        <strong><span>Tiempo Restante</span></strong>
    </div>
    <div class="tiempo_cancion">
        <span>0:00</span>
    </div>
    <div class="tiempo">
        <strong><span>Tiempo Total</span></strong>
    </div>
    <div class="tiempo_cancion">
        <span>2:55</span>
    </div>
</div>
