<div class="img_cancion">
    <img class="imagen_cancion" src="assets/img/discovinilo.jpg" alt="">
</div>
<div class="contenido_cancion">
    <div class="container">
        <div class="img_caratula">
            <img class="imagen_caratula" src={{cancion.imagen}} alt="">
        </div>
        <div class="titulo_cancion" *ngIf="cancion">
            <h3>{{cancion.titulo | uppercase}} - {{cancion.autor | uppercase}}</h3>
        </div>
    </div>
    <div class="detalle_cancion">
        <div class="contenido">
            <mat-card>
                <mat-card-title><strong>DISCO</strong></mat-card-title>
            </mat-card>
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="cancion.disco">
            </mat-form-field>
        </div>
        <div class="contenido">
            <mat-card>
                <mat-card-title><strong>AÑO</strong></mat-card-title>
            </mat-card>
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="cancion.ano">
            </mat-form-field>
        </div>
        <div class="contenido">
            <mat-card>
                <mat-card-title><strong>ESTILO</strong></mat-card-title>
            </mat-card>
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="cancion.estilo">
            </mat-form-field>
        </div>
        <div class="contenido">
            <mat-card>
                <mat-card-title><strong>AUTOR</strong></mat-card-title>
            </mat-card>
            <mat-form-field class="example-form-field">
                <input matInput [(ngModel)]="cancion.autor">
            </mat-form-field>
        </div>
    </div>
    <div class="center">
        <button mat-raised-button color="accent" (click)="modificarCancion()">
        <i class="fas fa-pause-circle"></i>Guardar Datos</button>
    </div>
</div>
